.header{
    color: var(--primary-black);
    gap: 2rem;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    background: white;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.93rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    padding-left: 2.37rem;
    position: relative;
    min-height: 1.62rem;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.62rem;
    height: 1.62rem;
    transition: opacity 0.3s ease-in-out;
}

.logo-hover {
    opacity: 0;
}

.logo:hover .logo-hover {
    opacity: 1;
}

.logo:hover .logo-default {
    opacity: 0;
}

.logo-text{
    text-transform: uppercase;
}

.company{
    text-transform: uppercase;
    justify-self: center;
    width: auto;
    white-space: nowrap;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.62rem;
}

.navbar ul li, .burger-menu li{
    display: block;
    position: relative;
    padding-bottom: 0.18rem;
    margin-bottom: -0.18rem;
    overflow: hidden;
}

.navbar ul li::after, .burger-menu li::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: black;
    top: 90%;
    right: 100%;
    z-index: 1;
    transition: right 0.3s ease-in-out;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-black);
}

.navbar ul li:hover::after, .burger-menu li:hover::after{
    right: 0;
}

.user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
}

.user p{
    text-transform: uppercase;
}

.burger-menu-open{
    display: none;
}

.burger-menu{
    display: none;
}

@media screen and (max-width: 1024px){
    .company{
        display: none;
    }

    .navbar ul{
        gap: 1.5rem;
    }

    .navbar li{
        text-align: center;
    }

    .navbar li, .user p{
        width: min-content;
    }

    .user{
        gap: 0.4rem;
    }
}

@media screen and (max-width: 768px){
    .header{
        padding: 1.5rem 0;
    }

    .user{
        display: none;
    }

    .burger-menu-open{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .navbar{
        display: none;
    }

    .burger-menu-open span{
        text-transform: uppercase;
    }

    .burger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 100;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .burger-menu.active {
        pointer-events: all;
        opacity: 1;
    }

    .burger-menu-window {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 18.12rem;
        padding:  0 1rem 0 2rem;
        background-color: var(--primary-white);
        z-index: 300;
        gap: 5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .burger-menu-window.active {
        transform: translateX(0);
    }

    .burger-menu-top{
        display: flex;
        padding: 1.5rem 0;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu-close{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .burger-menu-close p{
        text-transform: uppercase;
    }

    .burger-menu-nav ul{
        display: flex;
        flex-direction: column;
    }

    .burger-menu-nav li{
        text-transform: uppercase;
        cursor: pointer;
        max-width: fit-content;
    }

    .burger-menu-nav a{
        display: block;
        padding: 0.75rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    .company{
        display: none;
    }
}